.news {
  max-width: 960px;
  margin: 0 auto;
}

.newsTop {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}

.newsTitle {
  font-weight: 600;
  font-size: 30px;
}

.newsSecondTitle {
  font-weight: 600;
}

.newsDate {
  flex-shrink: 0;
  margin-left: 30px;
  position: relative;
  top: 3px;
  color: rgba(0,0,0,0.8);
}

.newsImage {
  max-height: 500px;
  object-fit: cover;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 12px;
}

.newsImageBigHeight {
  height: auto;
  max-height: 700px;
  object-fit: contain;
}

.newsImageRaw {
  max-height: 500px;
  object-fit: cover;
  width: 100%;
}

@media (max-width: 767px) {
  .newsTitle {
    font-size: 23px;
  }

  .newsDate {
    margin-left: 8px;
    font-size: 12px;
  }
}