.tournamentsTitle {
  font-weight: 600;
  margin-bottom: 8px;
}

.tournamentsDescription {
  margin-bottom: 25px;
}

.tournamentsList {
  list-style: none;
}

.tournamentsItem {
  margin-bottom: 60px;
}